.chart{
    margin: 50px;
}

.point-bar{
    background-color: #f8f8f8;
    width: 50%;
    height: 300px;
    font-size: 12px;
}
.doughnut{
    background-color: #f8f8f8;
    width: 50%;
    height: 300px;
    font-size: 12px;
}
.taskCompleted-bar{
    background-color: #f8f8f8;
    height: 300px;
    font-size: 12px;
}